<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>458505594759-cff6j1u61ssgj4aucuhn1erg3pjc9jpd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.458505594759-cff6j1u61ssgj4aucuhn1erg3pjc9jpd</string>
	<key>API_KEY</key>
	<string>AIzaSyDuoDm17TeZbpzg9jH8dqchWOaePkW8qgg</string>
	<key>GCM_SENDER_ID</key>
	<string>458505594759</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.atsoft.landgreen</string>
	<key>PROJECT_ID</key>
	<string>landgreen-bca4f</string>
	<key>STORAGE_BUCKET</key>
	<string>landgreen-bca4f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:458505594759:ios:13e249fe17132310a49522</string>
</dict>
</plist>