<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>809030938726-43qo5gbc8t8m2h04gor8es7in4hsqfod.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.809030938726-43qo5gbc8t8m2h04gor8es7in4hsqfod</string>
	<key>API_KEY</key>
	<string>AIzaSyCOECv4GSjTtzm9WtP7O22RETamqZRj-UM</string>
	<key>GCM_SENDER_ID</key>
	<string>809030938726</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.atsofts.thanyakit</string>
	<key>PROJECT_ID</key>
	<string>thanyakit-f3e48</string>
	<key>STORAGE_BUCKET</key>
	<string>thanyakit-f3e48.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:809030938726:ios:fe3da6e4d83472bda9bda7</string>
</dict>
</plist>